@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.rancho-regular {
  font-family: "Rancho", cursive;
  font-weight: 400;
  font-style: normal;
}

.releway{
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.footer-text {
  font-size: 45px;
  color: #331a15;
  text-shadow: 2px 2px 4px #331a15;
}
p {
  color: #1b1a1a;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.bg-grray{
  background: rgb(244, 243, 240);
}

.text-shadow {
  text-shadow: 4px 2px 4px black;
}
.text-shadow-t{
   text-shadow: 2px 2px 4px #331a15;
}